<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.min.js"></script>
</head>
<body id="app">
<!--<p @click="lowNum">{{num}}</p>-->
<!--<p>十位：{{parseInt(num / 10)}}</p>-->
<!--<p>个位：{{num % 10}}</p>-->

<!--<hr>-->

<!--十位：<input type="text" v-model="shi">-->
<!--个位：<input type="text" v-model="ge">-->
<!--结果：<b>{{shi * 10 + +ge}}</b>-->
<!--结果：<b>{{result}}</b>-->
<!--<h3 v-if="false" >百知教育 </h3>-->
<!--<h3 v-else-if="true"> 加入</h3>-->
<!--<h3 v-else >欢迎你</h3>-->
<p @click="lowNum">{{num}}</p>
<p>十位：{{parseInt(num / 10)}}</p>
<p>个位：{{num % 10}}</p>
a
<hr>

十位：<input type="text" v-model="shi">
个位：<input type="text" v-model="ge">
结果：<b>{{shi * 10 + +ge}}</b>
结果：<b>{{result}}</b>








<script>
    new Vue({
        el:'#app',
        date:{ num: 99,
            shi: "",
            ge: "",
        },
        methods: {
            lowNum() {
                this.num -= 3;
            },
        },
        watch: {
            num() {
                this.shi = parseInt(this.num / 10);
                this.ge = this.num % 10;
            },
        },
        computed: {
            result() {
                return this.shi * 10 + +this.ge;
            },
        }
    })
</script>
</body>
</html>